:root{
    /* colores */
    --body-fondo: lightblue;
    --body-fondo1:yellow;
    --sombra-color:rgba(0,0,0,0.4);

    /* medidas */
    --ancho-pagina:80%;
    --alto-presentacion:400px;
    --border-radius:3em;

    /* configuren sombra */
    --configuracion-sombra:0 0 0.3em 0.2em;

}

body{
    background:var(--body-fondo);
}
button.iniciar{
    border-radius: 1em;
    box-shadow:0.1em 0.1em 0.3 rgba(0,0,0,0.6);
    cursor: pointer;
    left: 30%;
    font-family: arial;
    font-size: 50px;
    font-style: italic;
    position: absolute;
    padding: 1em;
    top: 25%;
    width: 40%;
}

.presentacion{
    background: linear-gradient(darkblue,lightblue);
    /* sombra */
    box-shadow: var(--configuracion-sombra) var(--sombra-color);
    border-radius: var(--border-radius);
    font-size: 40px;
    display: none;
    height: var(--alto-presentacion);
    /* margin */
    margin: 2em auto 0 auto;
    padding: 3em;
    text-align: center;
    width: var(--ancho-pagina);
} 
